<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Mise à jour des
                    catégories</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="catForm" class="form-theme">
                        <label for="file">Upload fichier</label>
                        <input required id="file" type="file" formControlName="file" class="form-control"
                               (change)="onFileSelected({event : $event})"><br>
                        <button class="btn btn-primary" (click)="onUpload()">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
