<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/frontpages/athlete" background="bg-primary"><div class="card-body">Ajout des athlétes</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/athlemodif" background="bg-primary"><div class="card-body">Modification des athlétes</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/athle-sante" background="bg-primary"><div class="card-body">Mise à jour Athlé-santé</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/actualite" background="bg-primary"><div class="card-body">Mise à jour Actualite</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/formation" background="bg-primary"><div class="card-body">Mise à jour formation</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/galerie" background="bg-primary"><div class="card-body">Mise à jour Galerie</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/frontpages/liste_competition" background="bg-warning"><div class="card-body">Session de compétition</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/competition" background="bg-warning"><div class="card-body">Ajouter une Compétition</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/calendrier" background="bg-warning"><div class="card-body">Mise à jour Calendrier</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/categorie" background="bg-warning"><div class="card-body">Mise à jour des Catégorie</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/minimas" background="bg-warning"><div class="card-body">Mise à jour des Minimas</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/masters" background="bg-warning"><div class="card-body">Mise à jour des Masters</div></sb-card-view-details>

    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/frontpages/commissionfed" background="bg-success"><div class="card-body">Mise à jour Commission Fédérale</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/bureaufed" background="bg-success"><div class="card-body">Mise à jour Bureau Fédéral</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/ligue" background="bg-success"><div class="card-body">Mise à jour Ligue</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/centreformation" background="bg-success"><div class="card-body">Mise à jour Centre de Formation</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/club" background="bg-success"><div class="card-body">Mise à jour Club</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/document" background="bg-success"><div class="card-body">Mise à jour des Documents Administratif</div></sb-card-view-details>

    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/frontpages/records" background="bg-danger"><div class="card-body">Mise à jour des Records</div></sb-card-view-details>
        <sb-card-view-details link="/frontpages/resultat" background="bg-danger"><div class="card-body">Mise à jour des Resultats</div></sb-card-view-details>
    </div>
</div>
